<div class="body-container">
    <div class="container p-5">
        <app-title [fontColor]="'white'" [titleText]="'Deliver Blazing-Fast Software Innovation'"></app-title>
        <div class="row my-5">
            <div class="col-lg-3 imgcontainer">
                <img src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-3295a4b7-9656-4302-9253-157db89d7175.png?w=397&e=webp&nll=true&cX=0&cY=34&cW=684&cH=886"
                    alt="">
            </div>
            <div class="col-lg-9 abstractcontainer">
                <p>A next-generation AI-driven test automation technology, Vision AI can be combined with model-based
                    test automation to deliver faster, more resilient test automation across new tiers of technology and
                    eliminate the maintenance issues inherent in traditional testing methods.<br><br>Learn how Vision
                    AI, together with model-based test automation, will:</p>
                <ul>
                    <li>Lower your cost of maintenance</li>
                    <li>Reduce risks</li>
                    <li>Provide release predictability </li>
                </ul>
                <p>
                    This white paper describes how Vision AI enables you to automate UI-based test cases, including
                    native-cloud applications, remote desktop applications, and even design mockups before any code is
                    written, which enables you to test early in the development lifecycle.
                </p>
                <strong>Download the white paper, &#8220;AI-Powered Test Automation for the Next Generation of
                    Applications,&#8221; now.</strong>
            </div>
            <div class="formcontainer mt-4">
                <form #leadForm="ngForm" (ngSubmit)="getLeadData(leadForm.value)">
                    <input type="text" class="form-control my-3 p-3" placeholder="Name" ngModel name="name">
                    <input type="text" class="form-control my-3 p-3" placeholder="Email" ngModel name="email">
                    <input type="text" class="form-control my-3 p-3" placeholder="Phone Number" ngModel name="phone">
                    <input type="text" class="form-control my-3 p-3" placeholder="Title" ngModel name="title">
                    <input type="text" class="form-control my-3 p-3" placeholder="Company" ngModel name="company">
                    <input type="text" class="form-control my-3 p-3" placeholder="Street adress" ngModel name="adress">
                    <input type="text" class="form-control my-3 p-3" placeholder="City" ngModel name="city">
                    <input type="text" class="form-control my-3 p-3" placeholder="ZIP Code" ngModel name="zipcode">
                    <input type="text" class="form-control my-3 p-3" placeholder="State" ngModel name="state">
                    <input type="text" class="form-control my-3 p-3" placeholder="Country" ngModel name="country">
                    <input type="text" class="form-control my-3 p-3" placeholder="Industry" ngModel name="industry">
                    <input type="text" class="form-control my-3 p-3" placeholder="Company Size" ngModel name="companysize">
                    <button type="submit" class="my-2 p-3">Download Now</button>
                </form>
            </div>
        </div>
        <div class="footer">
            <a href="#">Tricentis Privacy Policy</a>
            I
            <a href="#">Biz-Tech-Insights Privacy Policy</a>
            <br>&nbsp;<br>
            © 2022 Biz-Tech-Insights<br>
            <div class="footer-logos">
            <img src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/1348294/upload-6b9c32dc-85c0-4366-9748-214e4616bd00.png?w=168&e=webp&nll=true" alt="" class="footerimage1 mt-4"><br>
            <img src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/2572828/upload-8b919186-699b-4560-a791-2bec3076f5ef.png?w=274&e=webp&nll=true" alt="" class="footerimage2 my-3">
        </div>
        </div>
    </div>
</div>

<!-- <span style="font-family:Roboto;font-weight:400;font-style:normal;font-size:11px;color:rgba(255, 255, 255, 1)"><a href="">Tricentis Privacy Policy</a>  I   <a class="link-style-1b4297b2-2701-485a-8c54-bc9664f9d834 external-link" rel="noopener noreferrer" target="_self" href="https://www.activatems.com/privacy-policy/">Biz-Tech-Insights Privacy Policy</a><br>&nbsp;<br>© 2022 Biz-Tech-Insights</span> -->