<div class="main">
    <h1>Sections</h1>
    <hr>
    <div class="actions">
        <div class="section" (click)="routeTo('blog-home')">
            <span class="content">
            <mat-icon >
                format_list_bulleted
                </mat-icon>
            <h3>Blog</h3>
        </span>
        </div>
        <div class="section" (click)="routeTo('typecode-todos')">
            <span class="content">
            <mat-icon >feed</mat-icon>
            <h3>Todos</h3>
        </span>
        </div>
    </div>
</div>