*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



/* .carousel-inner img{
    object-fit: cover;
} */
.overlapText{
    position:absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    /* border: 1px solid white; */
    margin: 78vh 0 0 0;
}

.overlapText .title{
    font-size: 42px;
    font-weight: 700;

}

.overlapText .desc{
    font-size: 25px;
}
.roundButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border : 2px solid #fff;
    background-color: transparent;
    transform: translate(48.5vw);
}

.roundButton span{
    font-size: 38px;
    margin: 5px 0 0 0;
}


