<div class="p-5 parentcontainer">
  <app-title [titleText]="'Is Your Software Testing Strategy Built for Agile and DevOps?'"></app-title>

  <div class="row maincontainer">
    <div class="col-3 abstract p-3">
      <app-abstract class="abstract" [width]="'25%'"
        [p1]="'As modern-day release cycles continue to accelerate, wouldn&#8217;t it be awesome if you could design,  automate, and orchestrate your software testing? That&#8217;s why Tricentis came up with a fundamentally different way to tackle software testing.'"
        [p2]="'With an approach that is totally automated, fully codeless, and intelligently driven by AI, you can reduce modernization costs and efforts, as well as utilize end-to-end testing that extends across platforms and technologies.'">

      </app-abstract>
    </div>
    <div class="col-9 p-3 text-center animationbox">
      <img
        src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-f38844c7-9830-4f7c-9460-8f09c1787c27.png?w=561&e=webp&nll=true"
        alt="" class="devOps">


      <span class="tableanimation">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-5ca4fc9e-ad9b-41bb-aad0-b8fefe759ae9.png?w=378&e=webp&nll=true"
          alt="" class="robot">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-a645668a-1375-4a4f-ba08-8b0e60b8bf92.png?w=598&e=webp&nll=true"
          alt="" class="table mt-5">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-2b1dd37e-879d-4660-9605-8fee4998348f.png?w=110&e=webp&nll=true"
          alt="" class="robohead">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-f745bc82-2600-4d59-955a-7e3a22934889.png?w=410&e=webp&nll=true"
          alt="" class="robohand">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-906646ed-59b1-405b-bc47-c9499bfac500.png?w=142&e=webp&nll=true"
          alt="" class="sidebars">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-aea91995-3873-4ece-9c08-49cfbd4b1e7d.png?w=78&e=webp&nll=true"
          alt="" class="gear">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-abae45de-6b31-463c-9b30-1f979920dced.png?w=40&e=webp&nll=true"
          alt="" class="smallgear">
      </span>

      <span class="codingimages pt-5">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-611239b1-27f1-44bd-a6e8-77c6c632fc63.png?w=170&e=webp&nll=true"
          alt="" class="brackets">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-d3b7bc74-b830-4147-bfd5-d035b7dd7c7a.png?w=183&e=webp&nll=true"
          alt="" class="codeblock">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-850af52a-dee4-4b36-992a-910167635ae7.png?w=266&e=webp&nll=true"
          alt="" class="java">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-728306bb-6206-4d92-bbee-5692ac878a65.png?w=150&e=webp&nll=true"
          alt="" class="codingsymbol">
        <img
          src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-7e88f7cb-f676-405b-8325-90344f1e45fb.png?w=224&e=webp&nll=true"
          alt="" class="Cpp">
      </span>
      <span class="footer">
        <img src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-4014fb14-68c9-44f1-a216-c8ce08ac052f.png?w=158&e=webp&nll=true" alt="" class="biztech">
        <img src="https://d2kq0urxkarztv.cloudfront.net/56969df1bd02a4a3292a2178/3300951/upload-dfab5203-ff4a-497b-9c42-ee123ddcc08a.png?w=274&e=webp&nll=true" alt="" class="tricentis">
        <p>&#169; 2022 Biz-Tech-Insights
        </p>
      </span>

    </div>
  </div>
  <!-- <p class="text-center mt-5">With my automated software testing solution, I need to:</p> -->
  <app-footer-title [text]="'With my automated software testing solution, I need to:'" [fontSize]="'2.0rem'">
  </app-footer-title>
  <div class="btn-container mt-4">
    <app-button [btnText]="'Accelrate release cycle'" [link]="'sec-page'"></app-button>
    <app-button [btnText]="'Automate and reduce costs'" [link]="'sec-page'"></app-button>
    <app-button [btnText]="'Improve software quality'" [link]="'sec-page'"></app-button>
  </div>
</div>