*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    text-align: center;
}

th,td{
    padding: 10px;
    border: 1px solid;
}

.posts{
    width: 100%;
}

table{
    width: 100%;
    margin: 10px auto;
}