@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.image-profile {
  width: 100%;
  padding: 0 3%;
  background-color: #22bad9;
  height: 164px;

}
.bg-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}
.bg-buttons mat-icon {
  font-size: 22px;
  color: #ffffff;
}
.bg-buttons p {
  margin: 0px;
  font-size: 19px;
  color: #ffffff;
  padding-left: 20px;

}
.bg-buttons .arrow{
    box-shadow: none;
    color:#22BAD9;
    background-color: transparent;
}
.bg-buttons button{
    box-shadow: none;
    color:#22BAD9;
}
.image{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto 0 auto;
    position:relative;
}
.image img{
    width: inherit;
    height: inherit;
}
.image .edit-image{
    background-color: transparent;
    box-shadow:none;
    right: 5%;
    bottom: 5%;
    position:absolute;
    background-color: white;
}

.image mat-icon{
    color: black;
    font-size: 19px;
    color: #8E8E99;
}

form{
    margin: 15% 0 0 0;
    text-align: center;
 }

::ng-deep .mat-form-field-infix{
    width:260px !important;
}