.main{
    padding: 1% 2%;
    /* border: 1px solid red; */
    width: 100%;

}
.main h1{
    text-align: center;
}

mat-card{
    background-color: gainsboro;
    margin-bottom: 10px;
    min-height: 25vh;
}

.key{
    font-weight: 500;
    font-size: 17px;
}

.value{
    /* font-weight: 500; */
    
    font-size: 17px;
}
.blog{
    cursor: pointer;
    width:30%;
    margin: 10px;
    /* border: 1px solid red; */
}   
.content{
    display: flex;   
    width: 100%;
    /* border: 1px solid red; */
}
.blogs{
    display: flex;
    /* border: 1px solid red; */
    height: auto;
    overflow:hidden;
    flex-wrap: wrap;
    
}


.normal{
    background-color: gainsboro;
}

.odd{
    background-color: turquoise;
}