<div class="container p-5 mt-5 shadow-lg p-3 mb-5 bg-light roundedd col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
  <h2 class="text-center">Simple Todo List</h2>
  <input type="text" class="form-control my-4" #task>
  <button class="btn btn-primary" (click)="addTask(task.value)">Add Task</button>
  <!-- <input type="text" class="form-control"> -->
  <h4 class="text-start mt-5">Your Todo List</h4>
  <hr>

  <div class="container p-3 task">
    <ul *ngFor="let item of tasks" style="margin-left:-40px;">
      <li style="list-style: none;font-size: 1.2rem;">
        <div class="taskcontainer">

          <div class="taskitem">
            <div class="checkbox">
              <input type="checkbox" name="" id="" *ngIf="showTask" class="me-2 text-start">
            </div>
            <div class="tasktext">
              <p>{{item.task}}</p>
            </div>
          </div>
          <div class="deleteicon">
            <span class="material-icons" style="color:red" (click)="removeTask(item.id)">delete</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>