
<div class="container p-5 my-5 border w-25 bg-dark text-light" >
    <p class="text-center" style="font-size:26px;font-weight:500">Template Driven Form</p>
    <form #loginForm="ngForm">
      <input type="text" class="form-control my-4" placeholder="Enter Name" name="name" [(ngModel)]="userToEdit.name">

      <input type="text" class="form-control my-4" placeholder="Enter Adress" name="adress" [(ngModel)]="userToEdit.adress">

      <input type="email" class="form-control my-4" placeholder="Enter Email" name="emailId" [(ngModel)]="userToEdit.emailId">

      <input type="number" class="form-control my-4" placeholder="Enter Contact" name="moNumber" [(ngModel)]="userToEdit.moNumber">

      <input type="text" class="form-control my-4" 
      placeholder="Enter Password" name="password" [(ngModel)]="userToEdit.password">

      <input type="number" class="form-control my-4" placeholder="Enter Isactive" name="isActive" [(ngModel)]="userToEdit.isActive">

        <button class="btn btn-info w-100" (click)="postData(loginForm.value)" *ngIf="!dataToEdit">Submit</button>
        <button class="btn btn-warning w-100" (click)="updateUser()" *ngIf="dataToEdit">Update</button>
    </form>
</div> 


  <div class="container-fluid mx-auto w-75">
  <table class="table table-info table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Password</th>
        <th scope="col">Isactive</th>
        <th scope="col">Oprations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.adress}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.moNumber}}</td>
        <td>{{user.password}}</td>
        <td>{{user.isActive}}</td>
        <td><i class="fa fa-edit mx-1" style="font-size:21px;" (click)="editUser(user,user.id)"></i><i class="fa fa-trash ms-2" style="color:rgb(231, 0, 0);font-size:21px" (click)="deleteRow(user.id)"></i></td>
      </tr>
  
    </tbody>
  </table>
</div>
  


