<div class="container my-5 p-5 w-25 border">
    <h2>Reactive Form in Angular</h2>
    <form [formGroup]="loginForm" (ngSubmit)="userLogin()">

        <input type="text" class="form-control my-4" name="username" placeholder="Enter username" formControlName="username">
        <p style="color:red" *ngIf="username && username.errors['required'] && username.touched">Please Enter Valid Username</p>
        <p style="color:red" *ngIf="username.invalid && username.errors['nameInvalid']">UserName already present</p>

        <input type="text" class="form-control my-4" name="password" placeholder="Enter password" formControlName="password">
         <p style="color:red" *ngIf="password && password.invalid && password.touched">Please Enter Valid Password</p> 

        <button class="btn btn-primary w-25" [disabled]="loginForm.invalid">Log In</button>
    </form>
</div>