p{
    color: rgba(68, 68, 68, 1);
    letter-spacing: 0.1px;
    text-decoration: none;
    font-weight: 700;
    text-transform: none;
    animation: fade-in 3s 2s forwards;
    opacity: 0%;
}
@keyframes fade-in {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
