
<!-- Todo List Service -->
<div
  class="container p-5 mt-5 shadow-lg p-3 mb-5 bg-light roundedd col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6"
>
  <h1 class="text-center">Todo List with Service</h1>

<form [formGroup]="todoForm" (ngSubmit)="addOrUpdate()">
  <input type="text" class="form-control my-4 add" formControlName='task'  *ngIf="!todoForUpdate"/>

  <input type="text" class="form-control my-4 update" formControlName='task' *ngIf="todoForUpdate" [ngModel]="todoForUpdate['task']"/>

  <button class="btn btn-primary" [disabled]="todoForm.invalid">
    {{btn}}
  </button>  
</form>
  <br />
  <br />
  <h4 class="text-start mt-5">Your Todo List</h4>
  <button class="btn btn-primary" (click)="refreshTodos()">Refresh</button>

  <hr />

  <div class="container p-3 task">
    <ul style="margin-left: -40px">
      <li style="list-style: none; font-size: 1.2rem" *ngFor="let item of tasks" >
        <div class="taskcontainer">
          <div class="taskitem">
            <div class="checkbox">
              <input
                type="checkbox"
                name=""
                id=""
                *ngIf="showTask"
                class="me-2 text-start"
              />
            </div>
            <div class="tasktext">
              <p>{{ item.task }}</p>
            </div> 
          </div>
          <div class="deleteicon">
            <mat-icon color="primary" (click)="editTodo(item)"> edit </mat-icon>
            <span
              class="material-icons"
              style="color: red"
              (click)="rmTodo(item.id - 1)"
              >delete</span
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
